
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="be-error be-error-404">
                <div class="container-fluid">
                    <div class="error-container">
                        <div class="error-number">404</div>
                        <div class="error-description">A página que você está procurando não pôde ser exibida.</div>
                        <div class="error-goback-text">Para mais ajuda, contate o administrador do sistema!</div>
                        <div class="footer">&copy; 2017 AES Tietê</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>