<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li class="parent" id="portal">
                            <a href="#"><i class="icon mdi mdi-globe-alt"></i><span>Portal</span></a>
                            <ul class="sub-menu">
                                <li id="portalEmpresa"><a href="@Url.Action("Index", "Empresa")">Empresas</a></li>   <!--portal-empresa.html-->
                                <li id="portalContratado"><a href="@Url.Action("Index", "Contratado")">Contratados</a></li>   <!--portal-contratado.html-->
                            </ul>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
