<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>                      
                        <li class="parent" id="relatorio">
                            <a href="#"><i class="icon mdi mdi-file-text"></i><span>Relatórios</span></a>
                            <ul class="sub-menu">
                                <li id="relatorioConsolidacao"><a href="@Url.Action("Index", "Consolidacao")">Consolidação HHT</a></li>   <!--relatorio-consolidacao.html-->                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
