        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">Menu</li>
                                <li id="hht"><a href="@Url.Action("Index", "HHT")"><i class="icon mdi mdi-time"></i><span>H.H.T</span></a></li>   <!--"ponto-entrada-saida.html">-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        