<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li id="usuario"><a href="@Url.Action("Index", "Usuario")"><i class="icon mdi mdi-accounts"></i><span>Acesso de Usuário</span></a></li>   <!--acesso-usuario.html-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
